.THIS .hyplnk{
    color:#19ce67;
}
.THIS .sdp{
    color: #8a199c;
}
.THIS .sdp:hover{
    color: #19ce67;
}
.THIS .font_size_13px{
    font-size:13px;
}
.THIS .headerText{
    background-color:#19ce67;
}
.THIS .headerText h5{
    color:#fff;
}
.THIS .page-title-content ul li {
    color: #8a199c;
    font-weight: 500;
}
.THIS .page-title-content ul li a {
    color: #19ce67;
    font-weight: 500;
}
.THIS .owl-stage{
    display:flex !important;
}

.THIS .prescription{
  border-radius: 6px;
  background-color: #f4f9fd;
  font-size: 14px;
  font-family: sans-serif;
  color: black;
/*   width: 25%; */
}
.THIS .image_width{
    width:275px;
}
.THIS .title_img{
    margin: 0px auto;
    margin-bottom: 10px;
    text-align: center;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 70% 30% 30% 70%/60% 40% 60% 40%;
    /* background-color: #19ce67; */
    background-color: #822e9d;
    color: #fff;
    font-size: 25px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.THIS .section-title {
 margin-bottom:25px;   
 margin-top:20px;
 text-align:left;
 max-width:none;
 display: inline-flex;
}

.THIS .quote_css{
    background:none;
    -webkit-box-shadow: 0 10px 55px 5px rgb(137 173 255 / 20%);
    box-shadow: 0 10px 55px 5px rgb(137 173 255 / 20%);
}
.THIS .quote_css p{
    font-style:normal;
}
.THIS .single-doctor-box1{
    padding-left:100px;
    padding-top:50px;
    text-align:center;
}
.THIS .text_center{
    text-align:center;
}
.THIS .margin_css{
    margin:10px 0px;
}
.THIS .quote_css::after{
    background-color:#822e9d;
}

.THIS .quote_css::before{
    font-size:70px;
    top:-15px;
}

.THIS .fun-facts-area{
    background-image: url('/ZOE/resource/1648751918000/map_zoe');
    border-radius: 3px;
    background-color:#822e9d;
}

.THIS .our-mission-image{
    background-image: url('/ZOE/resource/1648751918000/Lab_img');
    -webkit-box-shadow: 0 10px 55px 5px rgb(137 173 255 / 20%);
    box-shadow: 0 10px 55px 5px rgb(137 173 255 / 20%);
}

.THIS .fun-facts-area p{
    color: #FFF !important;
    text-align: center;
    padding: 5px 0px;
    font-size: 17px !important;
    margin-bottom:-15px !important;
}

.THIS .single-feedback{
    padding:10px 10px 10px 10px !important;
    text-align:left !important;
}
.THIS .ul_css li i{
        width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    background-color: #d2f5e1;
    color: #19ce67;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
    font-size: 11px;
    position: absolute;
    left: 0;
    top: -2px;
}

.THIS .i_css{
    color:#19ce67;padding-right:5px;
    font-size:16px;
}

.THIS .slideimg1{
    width: 16%!important;
    margin: 0px auto;
}

.THIS .single-feedback h3{
    font-size:25px !important;
    padding-bottom:15px !important;
}

.THIS .block_p{
    font-size: 18px;padding: 0px 4%;
}

.THIS .psplogo_class{
    height:200px;
}

.THIS .header{
  
  border-bottom: 2px #333 solid;
  margin-bottom: 1rem;
}
.THIS .rx{
  font-size: 3rem;
  font-family: sans-serif;
}
.THIS .patient{
  font-weight: bolder;
}
.THIS .patient div{
  border-bottom:1px solid #333;
  margin: 0 0 8px 0;
}
.THIS .signatute{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.THIS .signatute .sign{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 40%;
}
.THIS .signatute .sign::before{
  content: " ";
  display: block;
  width: 100%;
  border-top: 1px solid black;
  position: absolute;
  margin-top: -1rem;
}
.THIS .quantity span{
    padding:0px 8px;
    line-height:1.5;
    color:red;
    border-bottom: 1px solid black;
}
.THIS .prescription p{
    font-size: 14px;
    color:black;
}
.THIS .slds-tabs_default__item  {
    background: #822e9d;
    color: #ffffff;
    outline: 2px solid #822e9d !important;
    outline-offset: 2px;
    border: none;
    line-height: initial;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 6px 20px;
    position: relative;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 14px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    margin: 10px;
}

.THIS .inside_divpad{
    padding-top:50px;
}

.THIS .slds-is-active{
    background: #19ce67;
    color: #ffffff;
    outline: 2px solid #19ce67 !important;
    outline-offset: 2px; 
    border: none;
    line-height: initial;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 6px 20px;
    position: relative;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 14px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    margin: 10px;    
}
.THIS .slds-tabs_default__nav, .THIS .slds-tabs--default__nav{
    border-bottom:none !important;
}
.THIS .slds-tabs_default__item:hover{
    border-bottom:none !important;
}
.THIS .slds-tabs_default__item.slds-is-active:after{
    background:none !important;
}
.THIS .slds-tabs_default__item:hover:after, .THIS .slds-tabs--default__item:hover:after{
    background:none !important;
}
.THIS .slds-tabs_default__link, .THIS .slds-tabs--default__link {
    height: 30px !important;
    line-height: 30px !important;
}
.THIS .slds-tabs_default__nav{
    margin: 0% 26%;
    padding-top: 1%;
}
.THIS .ptb-100 {
    padding-top: 10px !important;
    padding-bottom: 100px;
}
.THIS h3{
    color: #8a199c;
    font-weight: bolder !important;
 /*   text-decoration: underline;
    text-decoration-color: #19ce67; */
}
.THIS p {
    color: #0a0a0a !important;
    font-size:15px !important;
    margin-bottom:15px !important;
}
.THIS h4{
    color: #8a199c;
    font-weight: bolder !important;
}
.THIS .sub-img{
    float: left;
    height: 60px;
    margin-left:15px;
    margin-bottom:10px;
}
.THIS .sub-title{
    padding-top:1%;
}
.THIS .sub2-title{
    padding-top: 7%;
    padding-left: 5px;
}

.THIS .curvDiv{
    border:1px solid #8a199c;
    margin-left: 3%;
    margin-top: 2%;
    border-radius: 25px 0px 25px 0px;
    border-width:1px 3px;
    margin-bottom:15px;
}
.THIS .sub2-img{
    float: left;
    height: 45px;
    margin-top:15px;
    margin-right:5px;
}
.THIS li::marker {
  color: #8a199c; 
}
.THIS .curvDivfooter{
    margin-left: 3%;
    margin-top: -2%;
    border-radius: 15px 0px 15px 0px;
    padding: 0px !important;
}

.THIS .owl-carousel .item {
      text-align: center;
  }
.THIS .owl-carousel .nav-btn{
      height: 47px;
      position: absolute;
      width: 26px;
      cursor: pointer;
      top: 100px !important;
  }

.THIS .owl-carousel .owl-prev.disabled,
.THIS .owl-carousel .owl-next.disabled{
    pointer-events: none;
    opacity: 0.2;
  }

 .THIS .owl-carousel .prev-slide{
      background: url(nav-icon.png) no-repeat scroll 0 0;
      left: -33px;
  }
 .THIS .owl-carousel .next-slide{
      background: url(nav-icon.png) no-repeat scroll -24px 0px;
      right: -33px;
  }
 .THIS .owl-carousel .prev-slide:hover{
     background-position: 0px -53px;
  }
 .THIS .owl-carousel .next-slide:hover{
    background-position: -24px -53px;
  }
.THIS .numberCircle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    background: #fff;
    border: 2px solid #19ce67;
    color: #822e9d;
    text-align: center;
    font: 16px Arial,sans-serif;
    float: left;
    margin-right:10px;
}
.THIS .slideimg{
    width: 40% !important;
    margin: 0px 30%;
}
.THIS .owl-prev,.THIS .owl-next {
        background: #19ce67 !important;
        height: 35px;
        width: 35px;
        border-radius: 100% !important;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block !important;
        border:0px solid black;
    }
.THIS .owl-prev { left: -20px; }
.THIS .owl-next { right: -20px; }
.THIS .owl-prev i,.THIS .owl-next i {transform : scale(2,5); color: #ffffff;}
.THIS h5{
    font-size:15px;
    color: #8a199c;
    font-weight: bolder !important;
  /*  text-decoration: underline;
    text-decoration-color: #19ce67; */
}
.THIS .featurebtn{
    background: #8a199c;
    color: #FFF;
    padding: 10px 20px;;
    border-radius: 20px;
}
.THIS .featurebtn:hover{
    background: #19ce67;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top:10px;
}
.THIS .pbBody { 
	background-image: url("{!$Resource.zoe_img + '/img/bg-map.png'}") !important; 
}

.THIS .baseline{
    border: 1px solid #8a199c;
    border-radius: 20px 0px 20px 0px;
    border-width:1px 3px;
    width: 80%;
    height:370px;
}
.THIS .re{
    border: 1px solid #8a199c;
    border-radius: 20px 0px 20px 0px;
    border-width:1px 3px;
    width: 80%;
    height:370px;
}
.THIS .paciente{
    margin-left: 3%;
    margin-top: 2%;
    background:#19ce67;
    height: 80px;
    border-radius:0px 60px
}
.THIS .slds-tabs_default__overflow-button .slds-button{
    color:#FFF !important;
}
@media (max-width: 600px) {
    .THIS .featurebtn{
        background: #8a199c;
        color: #FFF;
        padding: 5px 10px;
        border-radius: 25px;
        cursor: pointer;
        font-size:11px;
    }
    .THIS .featurebtn:hover{
        background: #19ce67;
        color: #FFF;
        padding: 5px 10px;
        border-radius: 25px;
        cursor: pointer;
        font-size:11px;
    }
    .THIS .calendar{
        height:100%;
    }
    .THIS .labtracker{
        height:100%;
    }
    .THIS .re{
        height:100%;
    }
     .THIS .baseline{
        height:100%;
    }
    .THIS .paciente{
        height:100%;
    }
    .THIS .slds-tabs_default__item  {
        width:100%;
    }
    .THIS .slds-is-active{
        width:100%;
    }
    .THIS .slds-tabs_default__nav{
    margin: 3% 10%;
    padding-top: 1%;
}
}
.THIS.banner{
        background-image: url('/ZOE/resource/1648751918000/banner_img/img/indicationban.jpg');
}
.THIS .about-content {
padding-top: 0px !important;
}
.THIS .about_width {
max-width:100% !important;
}
.THIS a:focus {
text-decoration:none !important ;
}
.THIS .main-services-area{
    padding:0px !important ;
}
.THIS h1 {
    color: #8a199c !important;
}
.THIS h2 {
    color: #8a199c !important;
}
.THIS h3 > a {
    color: #8a199c !important;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .THIS .slds-tabs_default__nav{
        margin:0px 5%;
    }
    
    .THIS .fun-facts-area p{
        font-size:15px !important;
    }
} 
@media only screen and (max-width: 767px){
 
    .THIS .slds-tabs_default__nav{
        margin:0px 0px;
    }
    .THIS .slds-tabs_default__item{
        padding:5px 10px;
        font-size:13px;
    }
    .THIS .slds-tabs_default__item:active{
        padding:5px 10px;
        font-size:13px;
    }
    .THIS .block_p{
        padding:0px 0px;
    }
    .THIS p{
        font-size:14px;
    }
}
@media only screen and (max-width: 767px){
    .THIS .about-content ul li {
     flex:0 0 100%;   
     max-width:100%;
    }
    .THIS .about-content{
        text-align:left;
    }
    .THIS .single-doctor-box1{
        padding-top:0px;
    }
    .THIS .fun-facts-area p{
        font-size:14px !important;
        margin-bottom:-25px !important;
    }
    .THIS .slds-tabs_default__overflow-button{
        line-height:30px;
    }
    .THIS .block_p{
        font-size:14px !important;
        text-align:left;
        text-align:justify;
    }
}
@media only screen and (max-width: 576px){
        
    .THIS .single-doctor-box1{
        padding-left:0px;
        padding-top:10px;
    }
    .THIS .sub2-title{
        font-size:18px;
    }
    .THIS .our-mission-image{
        margin-top:20px;
    }
    }