.THIS .login_h{
    color:#111F90;
}
.THIS .nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: normal;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    user-select: none;
    white-space: nowrap;
    width: auto;
    height: 57px;
    line-height: 57px;
    margin-left: 3%;
}
.THIS .niceSelect {
    width: 97%;
    padding-left: 3%;

}
.THIS .slds-fade-in-open {
    margin-top: 3% !important;
}
.THIS .contact-form form .form-control {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.THIS .nice-select .option{
    cursor: pointer;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
}
.THIS .slds-checkbox .slds-checkbox__label {
    display: initial !important;
}
.THIS .slds-checkbox{
    text-align: left;
    padding-left: 2%;  
}
.THIS .bg-map {
    top: 20% !important;
}
.THIS .contact-form form{
    -webkit-box-shadow: 0px 5px 28.5px 1.5px rgb(149 152 200 / 20%) !important;
    box-shadow: 0px 5px 28.5px 1.5px rgb(149 152 200) !important;
    padding: 2%;
    border-radius: 5px;
    background: #FFF !important;
}
.THIS .ui-widget{
    display:none !important;
}