.THIS .hyplnk{
    color:#19ce67;
}
.THIS .consult{
  text-align: left;
}

.THIS .banner{
    background-image: url('/ZOE/resource/1639564096000/Quicklinks_img/img/Contacto.png');
    background-size:cover;
    height:300px;
}
.THIS.f_f_a{
    background-image: url('/ZOE/resource/1645647950000/map_zoe');
    border-radius: 3px;
    background-color: #822e9d;
}
.THIS .f_f_a_p{
    color: #FFF !important;
    text-align: center;
     padding: 5px 0px;
    font-size: 17px !important;
    margin-bottom:1% !important;
}
.THIS .c_f{
     color:#fff;
}
.THIS .mb_20{
     margin-bottom:20px;margin-top:20px;color:#000;
}
.THIS .sub-img{
    float: left;
    height: 60px;
}
.THIS p{
    font-size: 15px!important;
    margin-bottom: 15px!important;
}
.THIS .curvDiv {
    border: 1px solid #8a199c;
    border-radius: 25px 0 25px 0;
    border-width: 1px 3px;
    margin-bottom: 5%;
  /*  margin-top: 8%; */
    padding: 30px 25px;
    margin-left:2%;
    margin-top:5%
}
.THIS .sub-title{
    padding-top:1%;
}
.THIS .sub2-title{
    padding-top:15%;
   padding-left: 15px;
}
.THIS .formInp{
    height: 45px;
    padding: 0px 0px;
    font-size: 15px;
    line-height: initial;
    color: #121521;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 100%;
    margin-bottom:30px;
}

.THIS .list{
    width: 100% !important;
}
.THIS .box
{
    box-shadow: 0px 3px 5px 2px rgba(207,201,201,0.75);
-webkit-box-shadow: 0px 3px 5px 2px rgba(207,201,201,0.75);
-moz-box-shadow: 0px 3px 5px 2px rgba(207,201,201,0.75);
}
.THIS h3{
    color: #8a199c;
    font-weight: bolder !important;
 /*   text-decoration: underline;
    text-decoration-color: #19ce67; */
}

.THIS .title_img{
    margin: 0px auto;
    margin-bottom: 10px;
    text-align: center;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 70% 30% 30% 70%/60% 40% 60% 40%;
    /* background-color: #19ce67; */
    background-color: #822e9d;
    color: #fff;
    font-size: 25px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.THIS .section-title {
 margin-bottom:25px;   
 margin-top:20px;
 text-align:left;
 max-width:none;
 display: inline-flex;
}.THIS .quote_css{
    background:none;
    -webkit-box-shadow: 0 10px 55px 5px rgb(137 173 255 / 20%);
    box-shadow: 0 10px 55px 5px rgb(137 173 255 / 20%);
}
.THIS .quote_css p{
    font-style:normal;
}
.THIS .single-doctor-box1{
    padding-left:100px;
    padding-top:50px;
    text-align:center;
}
.THIS .text_center{
    text-align:center;
}
.THIS .margin_css{
    margin:10px 0px;
}
.THIS .quote_css::after{
    background-color:#822e9d;
}

.THIS .quote_css::before{
    font-size:70px;
    top:-15px;
}

.THIS .fun-facts-area{
    background-image: url('/ZOE/resource/1645647950000/map_zoe');
    border-radius: 3px;
    background-color:#822e9d;
}
.THIS .i_css{
    color:#19ce67;padding-right:5px;
    font-size:16px;
}

.THIS .slideimg1{
    width: 16%!important;
    margin: 0px auto;
}
.THIS .single-feedback{
    padding:10px 10px 10px 10px !important;
    text-align:left !important;
}
.THIS .single-feedback h3{
    font-size:25px !important;
    padding-bottom:15px !important;
}
.THIS .single-feedback span{
    color:#fff !important;
}
.THIS .btn_css_width{
    width:50%;
    margin:0px auto;
}
.THIS .text_center{
    text-align:center !important;
}
.THIS .fun-facts-area{
    background-image: url('/ZOE/resource/1645647950000/map_zoe');
    border-radius: 3px;
    background-color:#822e9d;
}
.THIS .fun-facts-area p{
    color: #FFF !important;
    text-align: center;
    padding: 5px 0px;
    font-size: 17px !important;
    margin-bottom:-15px !important;
}
.THIS .owl-theme .owl-dots .owl-dot span{
    color:#822e9d !important;
}
.THIS .main-services-area{
    padding:0px !important ;
}
.THIS .margin_css_top{
    margin-top:70px;
}
.THIS .text_left{
    text-align:left;
}
.THIS .pb_20px{
    padding-bottom:20px;
}
.THIS .pt_in{
    padding-top:30px;
}
.THIS .padding_top{
    margin-top:7px;
    padding-left:30px;
}
.THIS h1 {
    color: #8a199c !important;
}
.THIS h2 {
    color: #8a199c !important;
}
.THIS h3 > a {
    color: #8a199c !important;
}